<div class="navbar">
  <span class="btn"><%= link_to "New list", new_list_path %></span>
</div>

<div class="background" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpapercave.com/wp/wnCoprl.jpg)">
  <br>

  <h1>Lists</h1>

  <div id="lists">
    <% @lists.each do |list| %>
      <div class="list-card">
        <%= render list %>
        <p>
          <%= link_to "Show this list", list %>
        </p>
      </div>
    <% end %>
  </div>
</div>
