<div class="background" id="add-movie"style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpapercave.com/wp/wnCoprl.jpg)">
  <br>
  <h1>New list</h1>
  <%= simple_form_for(@list) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
