// Specific CSS for your home-page
h1 {
  text-align: center;
}


.list-card {
  border: 3px solid lightgray;
  margin: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px darkblue;

  p {
    text-decoration: none;
    color: lightblue;

    :hover {
      color: blue;
    }
  }
}

.lists {
  width: 200px;
  display: flex;
  justify-content: center;
}
